<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Temperature Profile</title>
    {% load static %}
    <link rel="stylesheet" href='{% static "SensorInterfacing/get_visualization.css" %}'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top:20px">
        <h1 class="display-4">Temperature Profiling</h1>
        <div class="container">
            <div class="image-container" align=center>
                <img src="" alt="" class="img-responsive" id="image_box">
            </div>
            <div class="progress-container">
                <span>Fetching latest data for you.</span>
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
        </div>
        <h1 class="display-4">History of nodes</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="display-4">Node 1</h3>
                    <iframe src="https://thingspeak.com/channels/761799/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" frameborder="0" width="450px" height="360px"></iframe>
                </div>
                <div class="col-sm-6">
                    <h3 class="display-4">Node 2</h3>
                    <iframe src="https://thingspeak.com/channels/761799/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" frameborder="0" width="450px" height="360px"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="display-4">Node 3</h3>
                    <iframe src="https://thingspeak.com/channels/761799/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" frameborder="0" width="450px" height="360px"></iframe>
                </div>
                <div class="col-sm-6">
                    <h3 class="display-4">Node 4</h3>
                    <iframe src="https://thingspeak.com/channels/761799/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" frameborder="0" width="450px" height="360px"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="display-4">Node 5</h3>
                    <iframe src="https://thingspeak.com/channels/761799/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15" frameborder="0" width="450px" height="360px"></iframe>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        function move() {
            var elem = document.getElementById("myBar"); 
            var width = 1;
            var id = setInterval(frame, 20);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                } else {
                    width = (width + 1) % 100; 
                    elem.style.width = width + '%'; 
                }
            }
        }

        var requestObject = {
            url :"{% url 'get_visualization' %}", 
            success: function(result){
                console.log(result);
                $("#image_box").attr("src", result.path);
                $(".progress-container").css("display", 'none');
                $("#image_box").css("display", 'block');
            }
        }
        // this the first request.
        $.ajax(requestObject);
        // show progress bar
        move();
        
        // refreshing every 15 secods
        setInterval(function() {
            $.ajax(requestObject);
            $("#image_box").css("display", 'none');
            $(".progress-container").css("display", 'block');
            move();
        }, 15000);

    });
</script>
</html>